
<h3>サテライトサーバ</h3>
<ul>
  <% @s_servers.each do |server| %>
  <li>
	<% text = "Level:#{server.level}　" + server.name %>
	<%= link_to text, server_path(server.id) %>
  </li>
  <% end %>
</ul>
<br>
<h3>流星サーバー</h3>
<ul>
  <% @m_servers.each do |server| %>
  <li>
	<% text = "Level:#{server.level}　" + server.name %>
	<%= link_to text, server_path(server.id) %>
  </li>
  <% end %>
</ul>
